<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка новин</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'C:\Users\Діма\Desktop\Djanjo\Web1\blog\static\style.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Новини</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Категорії</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'create_post' %}" class="btn btn-success ml-auto">Створити новий пост</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Останні новини</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ post.image_url }}" class="card-img-top" alt="{{ post.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|slice:":100" }}...</p>
                            <a href="{% url 'post_detail' post.id %}" class="btn btn-custom">Читати далі</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Немає постів для відображення.</p>
            {% endfor %}
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Сайт новин. Всі права захищені.</p>
        </div>
    </footer>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
